body {
    font-family: "Lucida Console", monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
    background-color: azure;
}

h1 {
    color: #000;
    font-weight: 400;
    font-size: 50px;
    line-height: 1;
    text-align: center;
    margin: 15px;
}

h2 {
    color: #000;
    text-align: center;
    margin: 10px;
}

h3 {
    color: #000;
    text-align: center;
    font-style: italic;
}

#chessColor {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.7);
    background-color: azure;
}


.text-align-center {
    text-align: center;
}

.visual-container {
    max-width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
}

.board-container {
    max-width: 40%;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5px;
}
/*@media screen and (max-width: 480px) {
    .board-container {
        width: 30%;
    }
*/
.buttons-container {
    display: flex;
    align-items: center;
    padding: 10px;
}

.divider {
    width:5px;
    /*height:auto;*/
    /*display:inline-block;*/
}

.graph-container {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
}

.graph-title {
    font-size: 20px;
    line-height: 0.65;
}

#myBoard {
    width: 80%;
/*     padding: 20px 0px 20px 0; */
    /*margin-left: 30px;*/
}

.pgn-string {
    display: flex;
    width: 80%
    /*justify-content: flex-start;*/
    /*padding-top: 5px;*/
    /*flex-direction: column;*/
    /*padding-bottom: 10px;*/
    /*justify-self: start;*/
}

.acknowledgements {
    font-size: 12px;
    align-self: center;
}

#pgn {
    padding-left: 5px;
}


.graph-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#win-graph {
    /*width: 80%;*/
    display: flex;
    border: 2px solid black;
    padding: 10px 0px 10px 0;
}

.total-games {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-top: 10px;
}

.highlight-white {
    box-shadow: inset 0 0 3px 3px yellow;
}

.highlight-black {
    box-shadow: inset 0 0 3px 3px blue;
}

.highlight-hint {
    box-shadow: inset 0 0 3px 3px red;
}

.no-underline {
    text-decoration: none;
}

.no-outline:focus {
    outline: none;
    box-shadow: none;
}

.btn-header {
    font-size: 20px;
    font-weight: bold;
}

.github {
    text-align: center;
}

.words {
    margin: 60px;
    font-style: bold;
}