div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

#wins {
  pointer-events: none;
}
#draws {
  pointer-events: none;
}

.rating-description {
  font-size: 10px;
}
